<!-- comisarias/cuarta/comisaria_cuarta_list.html -->
{% extends "base.html" %}

{% block title %}Lista de Códigos en Comisaría Cuarta Rio Grande{% endblock %}

{% block content %}
<style>
    /* Modo oscuro para los elementos de DataTables */
    .dark .dataTables_length label,
    .dark .dataTables_filter label,
    .dark .dataTables_info,
    .dark .dataTables_paginate span a {
        color: white !important;
    }

    .dark .paginate_button.current,
    .dark .paginate_button:hover {
        background-color: #4B5563 !important;
        color: white !important;
    }

    .dark .paginate_button {
        color: white !important;
    }
</style> 

<div class="mx-auto mt-4 p-4 dark:text-white" x-data="{ 
    showModal: false, 
    descripcion: '', 
    showResolveModal: false, 
    resolveId: null, 
    resolveData: {},
    showConfirmModal: false, 
    recordIdToSign: null, 
    confirmSign() {
        if (this.recordIdToSign !== null) {
            window.location.href = '/comisariasriogrande/cuartaRG/firmar/' + this.recordIdToSign;
        }
    } 
}">
    <h1 class="text-2xl font-bold mb-4 text-center">Lista de Códigos en Comisaría Cuarta Rio Grande</h1>

    <div class="flex flex-wrap justify-center gap-4 mb-4">
        {% if is_oficialesservicios or is_jefessuperiores or is_encargadosguardias or librero %}
        <a href="{% url 'comisaria_cuartaRG_create' %}" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700">Iniciar Código</a>
        {% endif %}

        {% if is_jefessuperioresor or can_access_comisarias %}
        <a href="{% url 'comisarias_completaRG_list' %}" class="bg-orange-500 text-white px-4 py-2 rounded hover:bg-orange-700">Libro general códigos</a>
        {% endif %}

        {% if is_oficialesservicios or is_jefessuperiores or is_encargadosguardias %}
        <a href="{% url 'generate_comisaria_cuartaRG_pdf_download' %}?signature=true" target="_blank" class="bg-purple-500 text-white px-4 py-2 rounded hover:bg-purple-700">Ver y Descargar PDF</a>
        {% endif %}

        {% if user.is_authenticated and user.is_superuser %}
        <a href="{% url 'generate_comisaria_cuartaRG_pdf_download_previous_day' %}" target="_blank" class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-700">Descargar PDF del Día Anterior</a>
        {% endif %}

        {% if is_oficialesservicios or is_jefessuperiores %}
        <a href="{% url 'subir_pdfRG' %}" class="bg-indigo-500 text-white px-4 py-2 rounded hover:bg-indigo-700">Subir PDF</a>
        {% endif %}

        {% if user.is_authenticated and user.is_superuser %}
        <a href="{% url 'ver_pdfsRG' %}" class="bg-teal-500 text-white px-4 py-2 rounded hover:bg-teal-700">Ver PDF Libro</a>
        {% endif %}
    </div>

    <div class="overflow-x-auto max-w-7xl mx-auto">
        <table id="comisarias-table" class="min-w-full bg-gray-600 border dark:text-white border-gray-600 mt-4 dark:bg-gray-800 dark:border-gray-700">
            <thead class="bg-slate-800 text-white dark:bg-slate-900 dark:text-gray-200">
                <tr>
                    <th class="px-2 py-2 bg-gray-600 border dark:bg-gray-700">Cuarto</th>
                    <th class="px-2 py-2 bg-gray-600 border dark:bg-gray-700">Fecha y hora del código</th>
                    <th class="px-2 py-2 bg-gray-600 border dark:bg-gray-700">Código</th>
                    <th class="px-2 py-2 bg-gray-600 border dark:bg-gray-700">Lugar Código</th>
                    <th class="px-2 py-2 bg-gray-600 border dark:bg-gray-700">Descripción</th>
                    <th class="px-2 py-2 bg-gray-600 border dark:bg-gray-700">Estado del código</th>
                    <th class="px-2 py-2 bg-gray-600 border dark:bg-gray-700">Creado por Usuario</th>
                    <th class="px-2 py-2 bg-gray-600 border dark:bg-gray-700">Primer Registro</th>
                    <th class="px-2 py-2 bg-gray-600 border dark:bg-gray-700">Editado por Usuario</th>
                    <th class="px-2 py-2 bg-gray-600 border dark:bg-gray-700">Última Actualización</th>
                    <th class="px-2 py-2 bg-gray-600 border dark:bg-gray-700">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for record in records %}
                <tr>
                    <td class="bg-gray-300 border px-2 py-2 dark:bg-gray-700">{{ record.cuartoRG.cuartoRG }}</td>
                    <td class="bg-gray-300 border px-2 py-2 dark:bg-gray-700">{{ record.fecha_hora|date:"d/m/Y H:i:s" }}</td>
                    <td class="bg-gray-300 border px-2 py-2 dark:bg-gray-700">{{ record.codigoRG|default_if_none:'' }}</td>
                    <td class="bg-gray-300 border px-2 py-2 dark:bg-gray-700">{{ record.lugar_codigo|default_if_none:'' }}</td>
                    <td class="bg-gray-300 border px-2 py-2 dark:bg-gray-700">
                        <button @click="descripcion = '{{ record.descripcion|escapejs }}'; showModal = true" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700">Ver</button>
                    </td>
                    <td class="bg-gray-300 border px-2 py-2 dark:bg-gray-700">
                        {{ record.estado|yesno:"Activo,Finalizado" }}
                    </td>
                    <td class="bg-gray-300 border px-2 py-2 dark:bg-gray-700">{{ record.created_by.get_full_name|default:'S/N' }}</td>
                    <td class="bg-gray-300 border px-2 py-2 dark:bg-gray-700">{{ record.created_at|date:"d/m/Y H:i:s" }}</td>
                    <td class="bg-gray-300 border px-2 py-2 dark:bg-gray-700">{{ record.updated_by.get_full_name|default:'' }}</td>
                    <td class="bg-gray-300 border px-2 py-2 dark:bg-gray-700">{{ record.updated_at|date:"d/m/Y H:i:s" }}</td>
                    <td class="bg-gray-300 border border-gray-300 px-2 py-2 dark:bg-gray-700 dark:border-gray-600">
                        {% if record.estado or record.fecha_hora.date == today %}
                            <a href="{% url 'comisaria_cuartaRG_edit' record.pk %}" class="bg-yellow-500 text-white py-1 px-4 w-full min-w-[120px] rounded hover:bg-yellow-600 block mb-2 text-center">
                                Editar
                            </a>
                        {% endif %}
                        {% if not request.user.get_full_name in record.firmas %}
                        {% if is_oficialesservicios or is_jefessuperiores or is_encargadosguardias %}
                            <button @click.prevent="recordIdToSign = {{ record.pk }}; showConfirmModal = true" 
                                class="bg-purple-500 text-white py-1 px-4 w-full min-w-[120px] rounded hover:bg-purple-700 block text-center">
                                Firmar
                            </button>
                        {% endif %}
                        {% endif %}
                        <a href="{% url 'comisaria_cuartaRG_detail' record.pk %}" 
                            class="bg-blue-500 text-white py-1 px-4 w-full min-w-[120px] rounded hover:bg-blue-700 block text-center mt-2">
                            Full
                        </a>
                        
                        {% if is_jefessuperiores or user.is_superuser %}
                         <!-- Botón Eliminar (Soft Delete) con confirmación -->
                             <button @click.prevent="if (confirm('¿Estás seguro/a de que deseas eliminar este registro?')) { window.location.href = '{% url 'comisaria_cuartaRG_eliminar' record.pk %}' }"
                             class="bg-red-500 text-white py-1 px-4 w-full min-w-[120px] rounded hover:bg-red-600 block text-center mt-2">
                             Eliminar
                             </button>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
     <!-- Modal para Descripción -->
<div x-show="showModal" x-cloak class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="flex items-end justify-center min-h-screen pt-2 px-4 pb-20 text-center sm:block sm:p-0">
        <div x-show="showModal" class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
        <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
        <div x-show="showModal" class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
            <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                <div class="sm:flex sm:items-start">
                    <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                        <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">Descripción</h3>
                        <div class="mt-2">
                            <!-- Usar x-html para renderizar el HTML en lugar de texto -->
                            <div class="text-sm text-gray-500" x-html="descripcion"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                <button @click="showModal = false" type="button" class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal de confirmación para firmar -->
<div x-show="showConfirmModal" x-cloak class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="flex items-end justify-center min-h-screen pt-2 px-4 pb-20 text-center sm:block sm:p-0">
        <div x-show="showConfirmModal" class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
        <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
        <div x-show="showConfirmModal" class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
            <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                <div class="sm:flex sm:items-start">
                    <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                        <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">Confirmación</h3>
                        <div class="mt-2">
                            <p class="text-sm text-gray-500">¿Está seguro/a de que desea firmar este codigo?</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-gray-300 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                <button @click="confirmSign()" type="button" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-blue-600 text-base font-medium text-white hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:ml-3 sm:w-auto sm:text-sm">Sí</button>
                <button @click="showConfirmModal = false" type="button" class="mt-3 w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-green-600 text-base font-medium text-white hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 sm:mt-0 sm:w-auto sm:text-sm">No</button>
            </div>
            
        </div>
    </div>
</div>
</div>
<!-- SweetAlert2 para mostrar el mensaje de éxito -->
{% if messages %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        {% for message in messages %}
            Swal.fire({
                icon: 'success',
                title: '¡Éxito!',
                text: '{{ message|escapejs }}',  <!-- Asegúrate de escapar el mensaje -->
                confirmButtonText: 'OK',
                timer: 3000
            });
        {% endfor %}
    });
</script>
{% endif %}
{% endblock %}
