<!-- comisarias/primera/comisaria_primera_resolve.html -->
{% extends "base.html" %}

{% block title %}Constancia de Finalización de Código{% endblock %}

{% block content %}
<div class="container mx-auto mt-4 p-4">
    <h1 class="text-2xl font-bold mb-4 text-center">Constancia de Finalización de Código</h1>
    <form method="post">
        {% csrf_token %}
        <div class="grid gap-4 sm:grid-cols-3">
            <div class="sm:col-span-2">
                <label for="resolucion_codigo" class="block text-gray-700">Resolución del Código</label>
                <textarea name="resolucion_codigo" id="resolucion_codigo" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-3">{{ resolucion_codigo }}</textarea>
            </div>
            <div class="sm:col-span-3">
                <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700 w-full">Guardar</button>
            </div>
        </div>
    </form>
    <a href="{% url 'comisaria_primera_list' %}" class="mt-4 inline-block bg-gray-500 text-white px-4 py-2 rounded hover:bg-gray-700 w-full text-center">Volver a la lista</a>
</div>
{% endblock %}
