{% extends "base.html" %}

{% block title %}Registros Completos de Comisarías{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://cdn.datatables.net/2.1.3/css/dataTables.dataTables.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.datatables.net/2.1.3/js/dataTables.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap" rel="stylesheet">
<!-- estilos varios -->
<style>
    ::-webkit-scrollbar {
        display: none;
    }
    h1{
        font-family: 'Roboto Slab', serif;
    }
    .dt-layout-row{
        font-size: 13px;
    }
    #dt-search-0{
        border-radius: 6px;
        min-width: 300px;
    }
    #dt-length-0{
        border-radius: 6px;
    }
    /* cambio de posicion buscador y selector de registros */
    .dt-layout-row {
        display: flex;
    }
    div.dt-container div.dt-layout-row div.dt-layout-cell.dt-layout-end {
        order: 1;
        justify-content: flex-start;
        margin-left: 0;
    }
    div.dt-container div.dt-layout-row div.dt-layout-cell.dt-layout-start {
        order: 2;
        justify-content: flex-end;
        margin-right: 0;
    }
    /* Estilos para el modo oscuro */
    .dark .dataTables_wrapper {
        background-color: #2d2d2d;
        color: #e0e0e0;
    }

    .dark .dataTables_wrapper .dataTables_paginate .paginate_button {
        background-color: #444;
        color: #e0e0e0;
    }

    .dark .dataTables_wrapper .dataTables_filter input {
        background-color: #333;
        color: #e0e0e0;
        border: 1px solid #555;
    }

    .dark .dataTables_wrapper .dataTables_info {
        color: #e0e0e0;
    }

    .dark .dataTables_wrapper .dataTables_header {
        background-color: #333;
        color: #e0e0e0;
    }

    .dark .dataTables_wrapper .dataTables_body {
        background-color: #2d2d2d;
    }
    #myTable tbody tr:hover {
        background-color: transparent; /* Elimina el color de fondo en hover */
    }
    /*  */
    .carajo {
        border: 1px solid #555 !important;
    }
    /*  */
    .dark .dataTables_wrapper tbody tr:hover {
        background-color: #3b82f6; /* Equivalente a blue-500 */
    }
</style>

<div class="mx-auto px-4 pb-4 pt-2 rounded-lg dark:text-white" x-data="{ showModal: false, descripcion: '' }">
    <h1 class="text-2xl font-bold text-center">Registros Completos de Comisarías</h1>
    <div class="overflow-x-auto rounded-lg">
        <table id="myTable" class="display carajo w-full  text-[13px] rounded-lg">
            <thead class="bg-[#111] text-white text-[16px] rounded-lg">
                <tr class="">
                    <th class="px-4 py-4 rounded-tl-lg">Comisaria</th>
                    <th class="px-4 py-4">Guardia</th>
                    <th class="px-4 py-4"style="white-space: nowrap;">Fecha y Hora</th>
                    <th class="px-4 py-4">Código</th>
                    <th class="px-4 py-4" style="white-space: nowrap;">Móvil-Patrulla</th>
                    <th class="px-4 py-4">A Cargo</th>
                    <th class="px-4 py-4">Secundante</th>
                    <th class="px-4 py-4">QTH</th>
                    <th class="px-4 py-4">Descrip.</th>
                    <th class="px-4 py-4">Instituciones Intervinientes</th>
                    <th class="px-4 py-4">Tareas Judiciales</th>
                    <th class="px-4 py-4 rounded-tr-lg">Fecha de Registro</th>
                </tr>
            </thead>
            <tbody class="">
                {% for comisaria in comisarias %}
                <tr class="border-b cursor-pointer">
                    <td class="py-1 px-2 font-bold ">{{ comisaria.comisaria_nombre }}</td>
                    <td class="py-1 px-2 text-center">{{ comisaria.cuarto.cuarto }}</td>
                    <td class="py-1 px-2">{{ comisaria.fecha_hora|date:"Y-m-d H:i" }}</td>
                    <td class="py-1 px-2"><p class="text-center">{{ comisaria.codigo.codigo }}</p></td>
                    <td class="py-1 px-2"><p class="text-center">{{ comisaria.movil_patrulla|default_if_none:'' }}</p></td>
                    <td class="py-1 px-2">{{ comisaria.a_cargo|default_if_none:'' }}</td>
                    <td class="py-1 px-2">{{ comisaria.secundante|default_if_none:'' }}</td>
                    <td class="py-1 px-2">{{ comisaria.lugar_codigo|default_if_none:'' }}</td>
                    <td class="py-1 px-2">
                        <button @click="descripcion = '{{ comisaria.descripcion|escapejs }}'; showModal = true" class="bg-[#00b3b3] text-white px-4 py-2 rounded hover:bg-gray-700">Ver</button>
                    </td>
                    <td class="py-1 px-2"><p class="overflow-x-auto max-w-[300px]">{{ comisaria.instituciones_intervinientes }}</p></td>
                    <td class="py-1 px-2"><p class="overflow-x-auto max-w-[300px]">{{ comisaria.tareas_judiciales }}</p></td>
                    <td class="py-1 px-2">{{ comisaria.created_at }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- MODAL -->
    <div x-show="showModal" class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
        <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
            <div x-show="showModal" class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
            <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
            <div x-show="showModal" class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
                <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                    <div class="sm:flex sm:items-start">
                        <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                            <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">
                                Descripción
                            </h3>
                            <div class="mt-2">
                                <p class="text-sm text-gray-500" x-html="descripcion"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                    <button @click="showModal = false" type="button" class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
                        Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- VOLVER -->
    <a href="/" class="inline-block text-[13px] bg-[#00b3b3] hover:bg-gray-700 text-white px-4 py-2 rounded text-center">Volver</a>
    
</div>
<!-- DATATABLE CONFIG -->
<script>
    $(document).ready(function() {
        $('#myTable').DataTable({
            language: {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": activar para ordenar la columna de manera descendente"
                }
            },
            /* pageLength: -1, */
            ordering: false,
            fixedHeader: true
        });
        // Maneja la selección y deselección de filas
        $('#myTable tbody').on('click', 'tr', function() {
        // Verifica si la fila clickeada ya está seleccionada
            if ($(this).hasClass('selected')) {
                // Deselecciona la fila si ya estaba seleccionada
                $(this).removeClass('selected');
            } else {
                // Deselecciona cualquier otra fila previamente seleccionada
                $('#myTable tbody tr.selected').removeClass('selected');
                
                // Marca la fila clickeada como seleccionada
                $(this).addClass('selected');
            }
        });
        /* ESC */
        $(document).on('keydown', function(e) {
            if (e.key === 'Escape') {
                $('#myTable tbody tr.selected').removeClass('selected');
            }
        });
        // Navegar entre filas usando las flechas del teclado sin mover la pantalla
        $(document).on('keydown', function(e) {
            const selectedRow = $('#myTable tbody tr.selected');

            if (selectedRow.length) {
                if (e.key === 'ArrowUp' || e.key === 'ArrowDown') {
                    e.preventDefault(); // Evita que la pantalla se mueva

                    if (e.key === 'ArrowUp') {
                        // Mover a la fila anterior
                        const prevRow = selectedRow.prev('tr');
                        if (prevRow.length) {
                            selectedRow.removeClass('selected');
                            prevRow.addClass('selected');
                        }
                    } else if (e.key === 'ArrowDown') {
                        // Mover a la fila siguiente
                        const nextRow = selectedRow.next('tr');
                        if (nextRow.length) {
                            selectedRow.removeClass('selected');
                            nextRow.addClass('selected');
                        }
                    }
                }
            }
        });
        /*  */
        // Aplica estilos de modo oscuro si está activo
        const isDarkMode = document.documentElement.classList.contains('dark');
            if (isDarkMode) {
                $('.dataTables_wrapper').addClass('dark');
            }
    });
</script>
{% endblock %}
