{% extends "base.html" %}

{% block title %}Registros Completos de Comisarías{% endblock %}

{% block content %}
<div class="w-full max-w-6xl mx-auto px-4 pb-4 pt-2">
    <h1 class="text-2xl font-bold text-center mb-4 text-gray-400 dark:text-gray-100">
        Registros Completos de Comisarías
    </h1>
    

    <!-- Formulario de búsqueda y selección de elementos por página -->
    <div class="mb-4 flex justify-between items-center">
        <!-- Formulario de búsqueda -->
        <form method="get" class="flex items-center">
            <input type="text" name="q" value="{{ query }}" placeholder="Buscar..." class="border rounded px-4 py-2 w-full max-w-xs">
            <button type="submit" class="ml-2 bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded">
                Buscar
            </button>
            <button type="button" onclick="clearSearch()" class="ml-2 bg-gray-500 hover:bg-gray-600 text-white px-4 py-2 rounded flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm-2.707-5.707a1 1 0 010-1.414L8.586 10 7.293 8.707a1 1 0 011.414-1.414L10 8.586l1.293-1.293a1 1 0 011.414 1.414L11.414 10l1.293 1.293a1 1 0 01-1.414 1.414L10 11.414l-1.293 1.293a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                </svg>
            </button>
        </form>

        <!-- Formulario para selección de elementos por página -->
        <form method="get">
            <select name="items_per_page" onchange="this.form.submit()" class="border rounded px-4 py-2">
                <option value="10" {% if items_per_page == 10 %}selected{% endif %}>10</option>
                <option value="20" {% if items_per_page == 20 %}selected{% endif %}>20</option>
                <option value="30" {% if items_per_page == 30 %}selected{% endif %}>30</option>
                <option value="40" {% if items_per_page == 40 %}selected{% endif %}>40</option>
            </select>
            <input type="hidden" name="q" value="{{ query }}">
        </form>
    </div>

    <!-- Tabla -->
    <!-- Contenedor de la tabla -->
<div class="overflow-x-auto rounded-lg">
    <table class="table-auto w-full text-sm border-collapse border border-gray-200 dark:border-gray-700">
        <thead class="bg-gray-800 dark:bg-gray-900 text-gray-300 dark:text-gray-200">
            <tr class="hover:bg-gray-300 dark:hover:bg-gray-700">
                <th class="px-4 py-2 text-center border border-gray-300 dark:border-gray-600">Comisaria</th>
                
                <th class="px-4 py-2 text-center border border-gray-300 dark:border-gray-600">Fecha y Hora Código</th>
                <th class="px-4 py-2 text-center border border-gray-300 dark:border-gray-600">Código</th>
                <th class="px-4 py-2 text-center border border-gray-300 dark:border-gray-600">Móvil-Patrulla</th>
              
                <th class="px-4 py-2 text-center border border-gray-300 dark:border-gray-600">Lugar Código</th>
                <th class="px-4 py-2 text-center border border-gray-300 dark:border-gray-600">Tareas Judiciales</th>
                <th class="px-4 py-2 text-center border border-gray-300 dark:border-gray-600">Descripción</th>
            </tr>
        </thead>
        <tbody class="bg-white dark:bg-gray-900 text-gray-800 dark:text-gray-300">
            {% for comisaria in page_obj %}
            <tr class="hover:bg-gray-100 dark:hover:bg-gray-700">
                <td class="px-4 py-2 text-center border border-gray-300 dark:border-gray-600">{{ comisaria.comisaria_nombre|default_if_none:'' }}</td>
               
                <td class="px-4 py-2 text-center border border-gray-300 dark:border-gray-600">{{ comisaria.fecha_hora|date:"Y-m-d H:i:s" }}</td>
                <td class="px-4 py-2 text-center border border-gray-300 dark:border-gray-600">{{ comisaria.codigoRG|default_if_none:''}}</td>
                <td class="px-4 py-2 text-center border border-gray-300 dark:border-gray-600">{{ comisaria.movil_patrulla|default_if_none:'' }}</td>
                
                <td class="px-4 py-2 text-center border border-gray-300 dark:border-gray-600">{{ comisaria.lugar_codigo|default_if_none:'' }}</td> 
                <td class="px-4 py-2 text-center border border-gray-300 dark:border-gray-600">{{ comisaria.tareas_judiciales|default_if_none:'' }}</td>
                <td class="px-4 py-2 text-center border border-gray-300 dark:border-gray-600">
                    
                    <button type="button" onclick="showModal('{{ comisaria.descripcion|escapejs|safe }}')" 
                            class="bg-green-500 hover:bg-green-600 text-white px-4 py-2 rounded">
                             Ver
                    </button>

                    
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


     


<div class="flex flex-col md:flex-row justify-between items-center mt-6 space-y-4 md:space-y-0">
    <!-- Información sobre registros -->
    <span class="text-gray-600 dark:text-gray-300">
        Mostrando registros del 
        {{ page_obj.start_index }} al {{ page_obj.end_index }} 
        de un total de {{ page_obj.paginator.count }} registros.
    </span>

    <!-- Paginación -->
    <div class="flex items-center space-x-4"> <!-- Espaciado ajustado a 'space-x-4' -->
        {% if page_obj.has_previous %}
        <a href="?page=1&items_per_page={{ items_per_page }}&q={{ query }}" 
           class="bg-gray-300 hover:bg-gray-400 text-gray-700 px-4 py-2 rounded shadow">
            &laquo; Primero
        </a>
        <a href="?page={{ page_obj.previous_page_number }}&items_per_page={{ items_per_page }}&q={{ query }}" 
           class="bg-gray-300 hover:bg-gray-400 text-gray-700 px-4 py-2 rounded shadow">
            Anterior
        </a>
        {% endif %}

        <!-- Números de página -->
        {% for page_num in page_range %}
            {% if page_obj.number == page_num %}
                <span class="px-4 py-2 rounded bg-blue-500 text-white shadow">{{ page_num }}</span>
            {% else %}
                <a href="?page={{ page_num }}&items_per_page={{ items_per_page }}&q={{ query }}" 
                   class="bg-gray-300 hover:bg-gray-400 text-gray-700 px-4 py-2 rounded shadow">
                    {{ page_num }}
                </a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}&items_per_page={{ items_per_page }}&q={{ query }}" 
           class="bg-gray-300 hover:bg-gray-400 text-gray-700 px-4 py-2 rounded shadow">
            Siguiente
        </a>
        <a href="?page={{ page_obj.paginator.num_pages }}&items_per_page={{ items_per_page }}&q={{ query }}" 
           class="bg-gray-300 hover:bg-gray-400 text-gray-700 px-4 py-2 rounded shadow">
            Último &raquo;
        </a>
        {% endif %}
    </div>
</div>

    

</div>

<!-- Modal -->
<div id="modal" class="fixed inset-0 flex items-center justify-center bg-gray-500 bg-opacity-75 hidden">
    <div class="bg-white rounded-lg shadow-xl transform transition-all sm:max-w-lg sm:w-full p-6">
        <!-- Título del Modal -->
        <h3 class="text-lg font-medium text-gray-900 mb-4">Descripción</h3>
        
        <!-- Contenido HTML del Modal -->
        <div id="modal-content" class="text-sm text-gray-700 overflow-y-auto max-h-80"></div>
        
        <!-- Botón de Cerrar -->
        <div class="mt-4 flex justify-end">
            <button onclick="closeModal()" 
                class="bg-green-500 hover:bg-green-600 text-white px-4 py-2 rounded">
                Cerrar
            </button>
        </div>
    </div>
</div>


<script>
    function showModal(content) {
        document.getElementById('modal-content').innerHTML = content; // Renderiza el contenido HTML
        document.getElementById('modal').classList.remove('hidden');
    }

    function closeModal() {
        document.getElementById('modal').classList.add('hidden');
    }

    function clearSearch() {
        const url = new URL(window.location.href);
        url.searchParams.delete('q');
        url.searchParams.set('items_per_page', '{{ items_per_page }}');
        window.location.href = url.toString();
    }
</script>


{% endblock %}


