{% extends "base.html" %}

{% block title %}Formulario general{% endblock %}

{% block extrahead %}
    {{ form.media }}
{% endblock %}

{% block content %}
<div class="container mx-auto mt-4 p-4">
    <div class="mt-4">
        {% block back_button %}
        <!-- El botón de "Volver a la lista" se sobrescribirá en cada comisaría -->
        {% endblock %}
    </div>
    <h1 class="text-2xl font-bold mb-4 text-center">Registrar en comisarias</h1>
    <form method="post">
        {% csrf_token %}
        <div class="grid gap-4 sm:grid-cols-3">
            <div class="sm:col-span-1">
                <label for="fecha_hora" class="block text-gray-700 dark:text-gray-300">Fecha y hora</label>
                <input type="datetime-local" id="fecha_hora" class="bg-gray-50 dark:bg-gray-800 dark:text-gray-200 border border-gray-300 dark:border-gray-600 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-3" required value="{{ form.instance.fecha_hora|date:'Y-m-d\\TH:i' }}" disabled>
                <input type="hidden" name="fecha_hora" value="{{ form.instance.fecha_hora|date:'Y-m-d\\TH:i' }}">
            </div>
            <div class="sm:col-span-1">
                <label for="{{ form.solicitante_codigo.id_for_label }}" class="block text-gray-700 dark:text-gray-300">{{ form.solicitante_codigo.label }}</label>
                {{ form.solicitante_codigo }}
            </div>
            <div class="sm:col-span-1">
                <label for="{{ form.cuarto.id_for_label }}" class="block text-gray-700 dark:text-gray-300">{{ form.cuarto.label }}</label>
                {{ form.cuarto }}
            </div>
            <div class="sm:col-span-1">
                <label for="{{ form.codigo.id_for_label }}" class="block text-gray-700 dark:text-gray-300">{{ form.codigo.label }}</label>
                {{ form.codigo }}
            </div>
            <!-- Sección de Dependencias Secundarias -->
<div class="sm:col-span-1 relative" x-data="{ showDropdown: false }">
    <label for="dependencias_secundarias" class="block text-gray-700 dark:text-gray-300">{{ form.dependencias_secundarias.label }}</label>
    <div @click="showDropdown = !showDropdown" class="bg-gray-50 dark:bg-gray-800 dark:text-gray-200 border border-gray-300 dark:border-gray-600 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-3 cursor-pointer">
        Dependencias Policiales que intervienen
    </div>
    <div x-show="showDropdown" @click.away="showDropdown = false" class="absolute mt-2 w-full bg-white dark:bg-gray-700 border border-gray-300 dark:border-gray-600 rounded-lg shadow-lg z-10 p-4" style="display: none;">
        <div class="grid grid-cols-4 gap-2">
            {% for dependencia in form.dependencias_secundarias.field.queryset %}
            <label class="flex items-center p-2 hover:bg-gray-100 dark:hover:bg-gray-600">
                <input type="checkbox" name="dependencias_secundarias" value="{{ dependencia.id }}" class="form-checkbox dark:bg-gray-800 dark:border-gray-700 dark:text-gray-200" {% if dependencia in form.instance.dependencias_secundarias.all %}checked{% endif %}>
                <span class="ml-2 dark:text-gray-300">{{ dependencia }}</span>
            </label>
            {% endfor %}
        </div>
    </div>
</div>

            
            <div class="sm:col-span-1">
                <label for="{{ form.movil_patrulla.id_for_label }}" class="block text-gray-700 dark:text-gray-300">{{ form.movil_patrulla.label }}</label>
                <input type="text" name="{{ form.movil_patrulla.name }}" id="{{ form.movil_patrulla.id_for_label }}" class="bg-gray-50 dark:bg-gray-800 dark:text-gray-200 border border-gray-300 dark:border-gray-600 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-3" value="{{ form.movil_patrulla.value|default_if_none:'' }}">
            </div>
            <div class="sm:col-span-1">
                <label for="{{ form.a_cargo.id_for_label }}" class="block text-gray-700 dark:text-gray-300">{{ form.a_cargo.label }}</label>
                <input type="text" name="{{ form.a_cargo.name }}" id="{{ form.a_cargo.id_for_label }}" class="bg-gray-50 dark:bg-gray-800 dark:text-gray-200 border border-gray-300 dark:border-gray-600 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-3" value="{{ form.a_cargo.value|default_if_none:'' }}">
            </div>
            <div class="sm:col-span-1">
                <label for="{{ form.secundante.id_for_label }}" class="block text-gray-700 dark:text-gray-300">{{ form.secundante.label }}</label>
                <input type="text" name="{{ form.secundante.name }}" id="{{ form.secundante.id_for_label }}" class="bg-gray-50 dark:bg-gray-800 dark:text-gray-200 border border-gray-300 dark:border-gray-600 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-3" value="{{ form.secundante.value|default_if_none:'' }}">
            </div>
            <div class="sm:col-span-1">
                <label for="{{ form.lugar_codigo.id_for_label }}" class="block text-gray-700 dark:text-gray-300">{{ form.lugar_codigo.label }}</label>
                <input type="text" name="{{ form.lugar_codigo.name }}" id="{{ form.lugar_codigo.id_for_label }}" class="bg-gray-50 dark:bg-gray-800 dark:text-gray-200 border border-gray-300 dark:border-gray-600 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-3" value="{{ form.lugar_codigo.value|default_if_none:'' }}">
            </div>
            <div class="">
                <label for="{{ form.estado.id_for_label }}" class="block mb-3 text-gray-700 dark:text-gray-300">Estado del código</label>
                <label class="relative flex items-center cursor-pointer">
                    {{ form.estado }}
                    <div class="w-14 h-7 bg-gray-200 dark:bg-gray-600 peer-focus:outline-none rounded-full peer peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[4px] after:bg-white dark:after:bg-gray-800 after:border-gray-300 dark:after:border-gray-700 after:rounded-full after:h-6 after:w-6 after:transition-all peer-checked:bg-indigo-600 hover:peer-checked:bg-indigo-700"></div>
                    <span id="estado-text" class="ml-3 text-sm font-medium text-gray-600 dark:text-gray-300">Activo</span>
                </label>
            </div>
           
            <div class="sm:col-span-3">
                <!-- Mapa de Leaflet -->
                <div id="map" style="height: 300px; margin-top: 10px;"></div>
            
                <!-- Campos visibles para guardar las coordenadas -->
                <label for="id_latitude" class="block text-gray-700 dark:text-gray-300">Latitud</label>
                <input type="text" name="latitude" id="id_latitude" class="bg-gray-50 dark:bg-gray-800 dark:text-gray-200 border border-gray-300 dark:border-gray-600 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-3" value="{{ form.instance.latitude|default_if_none:'' }}">
            
                <label for="id_longitude" class="block text-gray-700 dark:text-gray-300">Longitud</label>
                <input type="text" name="longitude" id="id_longitude" class="bg-gray-50 dark:bg-gray-800 dark:text-gray-200 border border-gray-300 dark:border-gray-600 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-3" value="{{ form.instance.longitude|default_if_none:'' }}">
            
                <!-- Botón para limpiar las coordenadas -->
                <button type="button" id="clear-coordinates" class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-700 mt-2">Limpiar coordenadas</button>
            </div>

            <div class="sm:col-span-3">
                <label for="{{ form.descripcion.id_for_label }}" class="block text-gray-700">{{ form.descripcion.label }}</label>
                {{ form.descripcion }}
            </div>

            <!-- Sección de Códigos Secundarios -->
            <div class="sm:col-span-1 relative" x-data="{ showDropdown: false }">
                <label for="codigos_secundarios" class="block text-gray-700 dark:text-gray-300">{{ form.codigos_secundarios.label }}</label>
                <div @click="showDropdown = !showDropdown" class="bg-gray-50 dark:bg-gray-800 dark:text-gray-200 border border-gray-300 dark:border-gray-600 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-3 cursor-pointer">
                    Seleccionar códigos secundarios
                </div>
                <div x-show="showDropdown" @click.away="showDropdown = false" class="absolute mt-2 w-full bg-white dark:bg-gray-700 border border-gray-300 dark:border-gray-600 rounded-lg shadow-lg z-10 p-4" style="display: none;">
                    <div class="grid grid-cols-4 gap-2">
                        {% for codigo in form.codigos_secundarios.field.queryset %}
                        <label class="flex items-center p-2 hover:bg-gray-100 dark:hover:bg-gray-600">
                            <input type="checkbox" name="codigos_secundarios" value="{{ codigo.id }}" class="form-checkbox dark:bg-gray-800 dark:border-gray-700 dark:text-gray-200" {% if codigo in form.instance.codigos_secundarios.all %}checked{% endif %}>
                            <span class="ml-2 dark:text-gray-300">{{ codigo }}</span>
                        </label>
                        {% endfor %}
                    </div>
                </div>
            </div>

           <!-- Sección de Servicios de Emergencia -->
<div class="sm:col-span-1 relative" x-data="{ showDropdown: false, selectedServices: [] }">
    <label for="servicios_emergencia" class="block text-gray-700 dark:text-gray-300">{{ form.servicios_emergencia.label }}</label>
    <div @click="showDropdown = !showDropdown" class="bg-gray-50 dark:bg-gray-800 dark:text-gray-200 border border-gray-300 dark:border-gray-600 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-3 cursor-pointer">
        Seleccionar servicios de emergencia
    </div>
    <div x-show="showDropdown" @click.away="showDropdown = false" class="absolute mt-2 w-full bg-white dark:bg-gray-700 border border-gray-300 dark:border-gray-600 rounded-lg shadow-lg z-10 p-4" style="display: none;">
        <div class="grid grid-cols-3 gap-2">
            {% for servicio in form.servicios_emergencia.field.queryset %}
            <label class="flex items-center p-2 hover:bg-gray-100 dark:hover:bg-gray-600">
                <input type="checkbox" name="servicios_emergencia" value="{{ servicio.id }}" class="form-checkbox dark:bg-gray-800 dark:border-gray-700 dark:text-gray-200"
                       @change="if ($event.target.checked) { selectedServices.push({id: '{{ servicio.id }}', nombre: '{{ servicio.nombre }}'}); } else { selectedServices = selectedServices.filter(s => s.id !== '{{ servicio.id }}'); }">
                <span class="ml-2 dark:text-gray-300">{{ servicio }}</span>
            </label>
            {% endfor %}
        </div>
    </div>

    <!-- Campos visibles para detalles de servicios de emergencia -->
    <div class="sm:col-span-3 mt-6">
        <template x-for="service in selectedServices" :key="service.id">
            <div>
                <label :for="'numero_movil_' + service.id" class="block text-gray-700 dark:text-gray-300">Número móvil para servicio <span x-text="service.nombre"></span></label>
                <input type="text" :name="'numero_movil_' + service.id" :id="'numero_movil_' + service.id" class="bg-gray-50 dark:bg-gray-800 dark:text-gray-200 border border-gray-300 dark:border-gray-600 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-3 mb-2">

                <label :for="'nombre_a_cargo_' + service.id" class="block text-gray-700 dark:text-gray-300">Nombre a cargo para servicio <span x-text="service.nombre"></span></label>
                <input type="text" :name="'nombre_a_cargo_' + service.id" :id="'nombre_a_cargo_' + service.id" class="bg-gray-50 dark:bg-gray-800 dark:text-gray-200 border border-gray-300 dark:border-gray-600 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-3 mb-2">
            </div>
        </template>
    </div>
</div>


<div class="sm:col-span-1 relative" x-data="{ showDropdown: false, selectedInstituciones: [] }">
    <label for="instituciones_hospitalarias" class="block text-gray-700 dark:text-gray-300">{{ form.instituciones_hospitalarias.label }}</label>
    <div @click="showDropdown = !showDropdown" class="bg-gray-50 dark:bg-gray-800 dark:text-gray-200 border border-gray-300 dark:border-gray-600 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-3 cursor-pointer">
        Seleccionar instituciones hospitalarias
    </div>
    <div x-show="showDropdown" @click.away="showDropdown = false" class="absolute mt-2 w-full bg-white dark:bg-gray-700 border border-gray-300 dark:border-gray-600 rounded-lg shadow-lg z-10 p-4" style="display: none;">
        <div class="grid grid-cols-3 gap-2">
            {% for institucion in form.instituciones_hospitalarias.field.queryset %}
            <label class="flex items-center p-2 hover:bg-gray-100 dark:hover:bg-gray-600">
                <input type="checkbox" name="instituciones_hospitalarias" value="{{ institucion.id }}" class="form-checkbox dark:bg-gray-800 dark:border-gray-700 dark:text-gray-200"
                       @change="if ($event.target.checked) { selectedInstituciones.push({id: '{{ institucion.id }}', nombre: '{{ institucion.nombre }}'}); } else { selectedInstituciones = selectedInstituciones.filter(i => i.id !== '{{ institucion.id }}'); }">
                <span class="ml-2 dark:text-gray-300">{{ institucion }}</span>
            </label>
            {% endfor %}
        </div>
    </div>

    <!-- Campos visibles para detalles de instituciones hospitalarias -->
    <div class="sm:col-span-3 mt-6">
        <template x-for="institucion in selectedInstituciones" :key="institucion.id">
            <div>
                <label :for="'numero_movil_' + institucion.id" class="block text-gray-700 dark:text-gray-300">Número móvil para institución <span x-text="institucion.nombre"></span></label>
                <input type="text" :name="'numero_movil_' + institucion.id" :id="'numero_movil_' + institucion.id" class="bg-gray-50 dark:bg-gray-800 dark:text-gray-200 border border-gray-300 dark:border-gray-600 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-3 mb-2">

                <label :for="'nombre_a_cargo_' + institucion.id" class="block text-gray-700 dark:text-gray-300">Nombre a cargo para institución <span x-text="institucion.nombre"></span></label>
                <input type="text" :name="'nombre_a_cargo_' + institucion.id" :id="'nombre_a_cargo_' + institucion.id" class="bg-gray-50 dark:bg-gray-800 dark:text-gray-200 border border-gray-300 dark:border-gray-600 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-3 mb-2">
            </div>
        </template>
    </div>
</div>

<!-- Repetir similar para dependencias municipales -->
<div class="sm:col-span-1 relative" x-data="{ showDropdown: false, selectedDependenciasMunicipales: [] }">
    <label for="dependencias_municipales" class="block text-gray-700 dark:text-gray-300">{{ form.dependencias_municipales.label }}</label>
    <div @click="showDropdown = !showDropdown" class="bg-gray-50 dark:bg-gray-800 dark:text-gray-200 border border-gray-300 dark:border-gray-600 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-3 cursor-pointer">
        Seleccionar dependencias municipales
    </div>
    <div x-show="showDropdown" @click.away="showDropdown = false" class="absolute mt-2 w-full bg-white dark:bg-gray-700 border border-gray-300 dark:border-gray-600 rounded-lg shadow-lg z-10 p-4" style="display: none;">
        <div class="grid grid-cols-3 gap-2">
            {% for dependencia in form.dependencias_municipales.field.queryset %}
            <label class="flex items-center p-2 hover:bg-gray-100 dark:hover:bg-gray-600">
                <input type="checkbox" name="dependencias_municipales" value="{{ dependencia.id }}" class="form-checkbox dark:bg-gray-800 dark:border-gray-700 dark:text-gray-200"
                       @change="if ($event.target.checked) { selectedDependenciasMunicipales.push({id: '{{ dependencia.id }}', nombre: '{{ dependencia.nombre }}'}); } else { selectedDependenciasMunicipales = selectedDependenciasMunicipales.filter(d => d.id !== '{{ dependencia.id }}'); }">
                <span class="ml-2 dark:text-gray-300">{{ dependencia }}</span>
            </label>
            {% endfor %}
        </div>
    </div>

    <!-- Campos visibles para detalles de dependencias municipales -->
    <div class="sm:col-span-3 mt-6">
        <template x-for="dependencia in selectedDependenciasMunicipales" :key="dependencia.id">
            <div>
                <label :for="'numero_movil_' + dependencia.id" class="block text-gray-700 dark:text-gray-300">Número móvil para dependencia <span x-text="dependencia.nombre"></span></label>
                <input type="text" :name="'numero_movil_' + dependencia.id" :id="'numero_movil_' + dependencia.id" class="bg-gray-50 dark:bg-gray-800 dark:text-gray-200 border border-gray-300 dark:border-gray-600 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-3 mb-2">

                <label :for="'nombre_a_cargo_' + dependencia.id" class="block text-gray-700 dark:text-gray-300">Nombre a cargo para dependencia <span x-text="dependencia.nombre"></span></label>
                <input type="text" :name="'nombre_a_cargo_' + dependencia.id" :id="'nombre_a_cargo_' + dependencia.id" class="bg-gray-50 dark:bg-gray-800 dark:text-gray-200 border border-gray-300 dark:border-gray-600 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-3 mb-2">
            </div>
        </template>
    </div>
</div>

<!-- Repetir similar para dependencias provinciales -->
<div class="sm:col-span-1 relative" x-data="{ showDropdown: false, selectedDependenciasProvinciales: [] }">
    <label for="dependencias_provinciales" class="block text-gray-700 dark:text-gray-300">{{ form.dependencias_provinciales.label }}</label>
    <div @click="showDropdown = !showDropdown" class="bg-gray-50 dark:bg-gray-800 dark:text-gray-200 border border-gray-300 dark:border-gray-600 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-3 cursor-pointer">
        Seleccionar dependencias provinciales
    </div>
    <div x-show="showDropdown" @click.away="showDropdown = false" class="absolute mt-2 w-full bg-white dark:bg-gray-700 border border-gray-300 dark:border-gray-600 rounded-lg shadow-lg z-10 p-4" style="display: none;">
        <div class="grid grid-cols-3 gap-2">
            {% for dependencia in form.dependencias_provinciales.field.queryset %}
            <label class="flex items-center p-2 hover:bg-gray-100 dark:hover:bg-gray-600">
                <input type="checkbox" name="dependencias_provinciales" value="{{ dependencia.id }}" class="form-checkbox dark:bg-gray-800 dark:border-gray-700 dark:text-gray-200"
                       @change="if ($event.target.checked) { selectedDependenciasProvinciales.push({id: '{{ dependencia.id }}', nombre: '{{ dependencia.nombre }}'}); } else { selectedDependenciasProvinciales = selectedDependenciasProvinciales.filter(d => d.id !== '{{ dependencia.id }}'); }">
                <span class="ml-2 dark:text-gray-300">{{ dependencia }}</span>
            </label>
            {% endfor %}
        </div>
    </div>

    <!-- Campos visibles para detalles de dependencias provinciales -->
    <div class="sm:col-span-3 mt-6">
        <template x-for="dependencia in selectedDependenciasProvinciales" :key="dependencia.id">
            <div>
                <label :for="'numero_movil_' + dependencia.id" class="block text-gray-700 dark:text-gray-300">Número móvil para dependencia <span x-text="dependencia.nombre"></span></label>
                <input type="text" :name="'numero_movil_' + dependencia.id" :id="'numero_movil_' + dependencia.id" class="bg-gray-50 dark:bg-gray-800 dark:text-gray-200 border border-gray-300 dark:border-gray-600 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-3 mb-2">

                <label :for="'nombre_a_cargo_' + dependencia.id" class="block text-gray-700 dark:text-gray-300">Nombre a cargo para dependencia <span x-text="dependencia.nombre"></span></label>
                <input type="text" :name="'nombre_a_cargo_' + dependencia.id" :id="'nombre_a_cargo_' + dependencia.id" class="bg-gray-50 dark:bg-gray-800 dark:text-gray-200 border border-gray-300 dark:border-gray-600 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-3 mb-2">
            </div>
        </template>
    </div>
</div>


            
            
            <div class="sm:col-span-3">
                <label for="{{ form.instituciones_intervinientes.id_for_label }}" class="block text-gray-700 dark:text-gray-300">{{ form.instituciones_intervinientes.label }}</label>
                <textarea name="{{ form.instituciones_intervinientes.name }}" id="{{ form.instituciones_intervinientes.id_for_label }}" class="bg-gray-50 dark:bg-gray-800 dark:text-gray-200 border border-gray-300 dark:border-gray-600 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-3">{{ form.instituciones_intervinientes.value|default_if_none:'' }}</textarea>
            </div>
            <div class="sm:col-span-3">
                <label for="{{ form.tareas_judiciales.id_for_label }}" class="block text-gray-700 dark:text-gray-300">{{ form.tareas_judiciales.label }}</label>
                <textarea name="{{ form.tareas_judiciales.name }}" id="{{ form.tareas_judiciales.id_for_label }}" class="bg-gray-50 dark:bg-gray-800 dark:text-gray-200 border border-gray-300 dark:border-gray-600 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-3">{{ form.tareas_judiciales.value|default_if_none:'' }}</textarea>
            </div>
            <div class="sm:col-span-3">
                <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700 w-full">Guardar</button>
            </div>
        </div>
    </form>
    <!-- Botón "Volver a la lista" -->
    <div class="mt-4">
        {% block green_button %}
        <!-- El botón de "Volver a la lista" se sobrescribirá en cada comisaría -->
        {% endblock %}
    </div>
</div>
{% endblock %}
