<!-- libropolicial/templates/comisarias/segunda/comisaria_segunda_form.html -->
{% extends "formulariobase/formulario_general.html" %}
{% block back_button %}
<a href="{% url 'comisaria_segunda_list' %}" class="mt-4 inline-block bg-gray-500 text-white px-4 py-2 rounded hover:bg-gray-700 text-center">Regresar al listado de Codigos</a>
{% endblock %}


{% block title %}Registrar en Comisaría Segunda{% endblock %}

{% block green_button %}
<a href="{% url 'comisaria_segunda_list' %}" class="mt-4 inline-block bg-gray-500 text-white px-4 py-2 rounded hover:bg-gray-700 w-full text-center">Volver a la lista</a>
{% endblock %}
